@import url(http://fonts.googleapis.com/css?family=Orbitron);

.container{
    height: 87vh;
width: 100vw;
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
background-image:url('http://getwallpapers.com/wallpaper/full/1/f/e/427366.jpg') ; 
}
.skills-section {
width:100%;
height:100%;
left:0px;
position:absolute;
}
#skillrow{
  position: absolute;
  top:330px;
  left:250px;
}
.glow{
position: absolute;
left: 15%;
font-family: 'Orbitron', courier, sans-serif;
font-size:5em;
text-align:center;
color:rgba(155, 182, 255, 0.22); 
text-shadow: 0 0 1px rgba(157,208,154,.3);
}

#planet-icon{
cursor: pointer;
position: absolute;
left: 330px;
top: 80px;
z-index: 100;
width: 220px;
height: 220px;
background: url('http://icons.iconarchive.com/icons/turbomilk/space-invaders/256/blackhole-icon.png') no-repeat center center;
background-size:contain;
-webkit-animation:spin 1.4s linear infinite;
-moz-animation:spin 1.4s linear infinite;
animation:spin 1.4s linear infinite;
}
#planet-icon:active{    
-webkit-animation:spin 0.4s linear infinite;
-moz-animation:spin 0.4s linear infinite;
animation:spin 0.4s linear infinite;    
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


/*progress css*/
.container-progress {
  display: flex;
justify-content: space-evenly;
align-items: center;
flex-wrap: wrap;
position: relative;
top: 36%;

}
#left {
  float: left;
  font-size: 1.2em;
  font-family: var(--font-2);
font-weight: bolder;
}

#right {

  float: right;
  font-size: 1.2em;
  font-family: var(--font-2);
  font-weight: bolder;
}
h1 {
  color: #fff;
  margin-left: 0px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.skills-bar-container {
  position: relative;
  width: 40%;
  min-width: 350px;
  margin: 5% auto;
  list-style: none;
}

.skills-bar-container li {
  background: #666666;
  position: relative;
  width: 100%;
  height: 3px;
  margin-bottom: 35px;
  margin-top: 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.skills-bar-container label {
  color: #fff;
  position: relative;
  margin-left: 0px;
  font-size: 20px;
  font-family: var(--font-4);
  font-weight:500;
}

.progressbar {
  position: absolute;
  width: 0%;
  height: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#progress-htmlcss {
  -webkit-animation-name: progress-htmlcss;
  animation-name: progress-htmlcss;
  -webkit-animation-delay: .7s;
  animation-delay: .7s;
}

#progress-jsjq {
  -webkit-animation-name: progress-jsjq;
  animation-name: progress-jsjq;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

#progress-php {
  -webkit-animation-name: progress-php;
  animation-name: progress-php;
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s;
}

#progress-java {
  -webkit-animation-name: progress-java;
  animation-name: progress-java;
  -webkit-animation-delay: .7s;
  animation-delay: .7s;
}

#progress-csharp {
  -webkit-animation-name: progress-csharp;
  animation-name: progress-csharp;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

#progress-sql {
  -webkit-animation-name: progress-sql;
  animation-name: progress-sql;
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s;
}

.progressblue {
  background-color: #70C1B3;
}

@-webkit-keyframes progress-htmlcss {
  0% {
      width: 0%;
  }
  100% {
      width: 90%;
  }
}

@-webkit-keyframes progress-jsjq {
  0% {
      width: 0%;
  }
  100% {
      width: 65%;
  }
}

@-webkit-keyframes progress-php {
  0% {
      width: 0%;
  }
  100% {
      width: 25%;
  }
}

@-webkit-keyframes progress-java {
  0% {
      width: 0%;
  }
  100% {
      width: 75%;
  }
}

@-webkit-keyframes progress-csharp {
  0% {
      width: 0%;
  }
  100% {
      width: 65%;
  }
}

@-webkit-keyframes progress-sql {
  0% {
      width: 0%;
  }
  100% {
      width: 50%;
  }
}

@-moz-keyframes progress-htmlcss {
  0% {
      width: 0%;
  }
  100% {
      width: 90%;
  }
}

@-moz-keyframes progress-jsjq {
  0% {
      width: 0%;
  }
  100% {
      width: 65%;
  }
}

@-moz-keyframes progress-php {
  0% {
      width: 0%;
  }
  100% {
      width: 25%;
  }
}

@-moz-keyframes progress-java {
  0% {
      width: 0%;
  }
  100% {
      width: 75%;
  }
}

@-moz-keyframes progress-csharp {
  0% {
      width: 0%;
  }
  100% {
      width: 65%;
  }
}

@-moz-keyframes progress-sql {
  0% {
      width: 0%;
  }
  100% {
      width: 50%;
  }
}

@keyframes progress-htmlcss {
  0% {
      width: 0%;
  }
  100% {
      width: 90%;
  }
}

@keyframes progress-jsjq {
  0% {
      width: 0%;
  }
  100% {
      width: 65%;
  }
}

@keyframes progress-php {
  0% {
      width: 0%;
  }
  100% {
      width: 25%;
  }
}

@keyframes progress-java {
  0% {
      width: 0%;
  }
  100% {
      width: 75%;
  }
}

@keyframes progress-csharp {
  0% {
      width: 0%;
  }
  100% {
      width: 65%;
  }
}

@keyframes progress-sql {
  0% {
      width: 0%;
  }
  100% {
      width: 50%;
  }
}

@media only screen and (max-width: 992px){
.container-progress{
  position: relative;
top: 10%;
}
.glow{
  font-size: 3em;
}
#left {
  font-size: 20px;
}
#right {
  font-size: 20px;
}
.skills-bar-container li{
  right: 20px;
}
}

@media only screen and (max-width: 505px){
 

  #left {
    font-size: 10px;
  }
  #planet-icon{
display: none;
  }
 
 
}