.about-main {
  position: relative;
  text-align: center;
  display: grid;
  place-items: center;
top: rem;
  font-size: 40px;
  color: var(--color-bg--white);
  bottom: 20px;
}

.about-heading {
  font-family: var(--font-3);
  font-weight: 100;
  text-decoration: underline;
  font-size: 8rem;
}

.scroller {
  max-width: 1200px;
  overflow: scroll;
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.scroller::-webkit-scrollbar-track {
  -webkit-box-shadow: none
  ;
  border-radius: none;
  background-color: none;
}

.scroller::-webkit-scrollbar {
  width: 0px;
  background-color: none;
}

.scroller::-webkit-scrollbar-thumb {
  border-radius: none;
  -webkit-box-shadow: none;
  background-color: none;
}
.scroller p {
  position: relative;
  top: 30px;
  font-size: 25px;
  font-family: var(--font-3);
}@media only screen and (max-width: 750px){
.about-main {
  padding-top: 4em;
padding-bottom: em;
}
}
@media only screen and (max-width: 412px) {
  .about-heading{
    padding-top: 5rem;
    padding-bottom: 4rem;
    position: relative;
    font-size: 4.4rem;
    top: 40px;
  }
  

}
@media only screen and (max-width: 375px){
  .about-heading{
    font-size: 2em;
  }
  .scroller p{
    font-size: px;
  }
}